body{
    background-color:#ccc;
}
.mark-sheet-form{
    border:1px solid #ddd;
    width: 100%;
    background-color:#f1f1f1;
    margin-top:20px;
    padding: 20px;
}
.mark-sheet-form h1{
    margin-bottom: 20px;font-size: 28px;
}
.mark-report{
    border:1px solid #ddd;
    width: 100%;
    background-color:#f1f1f1;
    margin-top:20px;
    padding: 20px;
}
.mark-report h2{
    margin-bottom: 20px;font-size: 26px;text-align: center;
}
.mark-report span{padding-left: 10px;}